:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* แก้สีพื้นหลัง body ให้ตรงกับ layout */
body {
  margin: 0;
  background: #c6d8f5;  /* ฟ้าอ่อนแทนดำ */
  color: #111;
}
